body {
	font-family: "Poppins", sans-serif;
	background: #f8f9fc;
}

#vh {
	min-height: 86vh;
}

.btn-light {
	background-color: #e0e0e0;
}

footer {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
